{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
   <h1> M68 Conference App </h1>

    <table>
        <tr>
            <th> Days </th>
            <th> Sessions </th>
            <th> Rooms </th>
            <th> Options </th>
        </tr>
        <tr>
            <td>
                <a href="">Friday</a>
                <br>
                <a href="">Saturday</a>
            </td>
            <td>
                <a href="">Morning</a>
                <br>
                <a href="">Afternoon</a>
                <br>
                <a href="">Evening</a>
            </td>
            <td>
                <a href="">Washington</a>
                <br>
                <a href="">Cavalier</a>
                <br>
                <a href="">Oakenridge</a>
                <br>
                <<a href="">Baltimore</a>
            </td>
            <td>
                <a href="">Post</a>
                <br>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>

        </tr>
    </table>
</div>

{% endblock %}